{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load material_form i18n static %}

{% block page_title %}{% blocktrans %}Manage personal note filter{% endblocktrans %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <div class="btn-group" role="group" aria-label="Filter actions">
      {% if personal_note_filter %}
        <a href="{% url 'delete_personal_note_filter' personal_note_filter.id %}" class="btn btn-danger">
          <i class="material-icons">trash</i>
        </a>
      {% endif %}
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    {% form form=personal_note_filter_form %}{% endform %}
    {% include "core/save_button.html" %}
  </form>

{% endblock %}
