{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load material_form i18n static %}

{% block browser_title %}
  {% if personal_note_filter %}
    {% trans "Update personal note filter" %}
  {% else %}
    {% trans "Create personal note filter" %}
  {% endif %}
{% endblock %}
{% block page_title %}
  {% if personal_note_filter %}
    {% trans "Update personal note filter" %}
  {% else %}
    {% trans "Create personal note filter" %}
  {% endif %}
{% endblock %}


{% block content %}
  <form method="post">
    {% csrf_token %}
    {% form form=personal_note_filter_form %}{% endform %}
    {% include "core/partials/save_button.html" %}
  </form>
  {% if personal_note_filter %}
    <p>
      <a href="{% url 'delete_personal_note_filter' personal_note_filter.id %}"
         class="waves-effect waves-light btn red">
        <i class="material-icons left">delete</i>{% blocktrans %}Delete filter{% endblocktrans %}
      </a>
    </p>
  {% endif %}

{% endblock %}
