{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load material_form i18n static %}

{% block browser_title %}{% blocktrans %}Manage personal note filter{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Manage personal note filter{% endblocktrans %}{% endblock %}

{% block content %}
  {% if personal_note_filter %}
    <p>
      <a href="{% url 'delete_personal_note_filter' personal_note_filter.id %}"
         class="waves-effect waves-light btn red">
        <i class="material-icons left">delete</i>{% blocktrans %}Delete filter{% endblocktrans %}
      </a>
    </p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {% form form=personal_note_filter_form %}{% endform %}
    {% include "core/save_button.html" %}
  </form>

{% endblock %}
