table.datatable a {
  color: inherit !important;
}

table a.tr-link {
  display: block;
  width: inherit;
  height: inherit;
}

.collapsible-icon-right {
	align-self: end;
	flex-grow: 100;
	text-align: right!important;
}

@media only screen and (min-width: 1201px) {
    .hide-on-extra-large-only {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .show-on-extra-large {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .collection .collection-item.avatar {
        padding-left: 20px;
    }
    .collection .collection-item.avatar:not(.circle-clipper) > .circle {
        position: relative;
        margin-bottom: 10px;
    }
}
