table.datatable a {
  color: inherit !important;
}

table a.tr-link {
  display: block;
  width: inherit;
  height: inherit;
}

.collapsible-icon-right {
	align-self: end;
	flex-grow: 100;
	text-align: right!important;
}
