span.input-field.inline > .select-wrapper > input {
    color: red;
    padding: 14px 0 0 0;
    line-height: 2px;
    height: 36px;
    vertical-align: middle;
}

span.input-field.inline > .select-wrapper .caret {
    top: 12px !important;
}

@media screen and (min-width: 1400px) {
    li.collection-item#title form {
        margin: -30px 0 -30px 0;
    }

    li.collection-item#title #select_all_span {
        margin-top: 5px;
    }
}

#select_all_container {
    display: none;
}