{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load material_form i18n static rules %}

{% block browser_title %}{% blocktrans %}Lesson{% endblocktrans %}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/alsijil/lesson.css' %}"/>
{% endblock %}

{% block page_title %}
  {{ day }}, {% blocktrans with period=lesson_period.period.period %}{{ period }}. period{% endblocktrans %} –

  {% for group in lesson_period.get_groups.all %}
    <span>{{ group.name }}</span>,
  {% endfor %}

  {{ lesson_period.get_subject.name }},

  {% for teacher in lesson_period.get_teachers.all %}
    {{ teacher.short_name }}
  {% endfor %}
{% endblock %}

{% block content %}
  {% has_perm "alsijil.view_lessondocumentation" user lesson_period as can_view_lesson_documentation %}
  {% has_perm "alsijil.edit_lessondocumentation" user lesson_period as can_edit_lesson_documentation %}
  {% has_perm "alsijil.edit_personalnote" user lesson_period as can_edit_personalnote %}

  <form method="post">
    <div class="row">
      <div class="col s12">
        {% if can_edit_lesson_documentation or can_edit_personalnote %}
          {% include "core/partials/save_button.html" %}
        {% endif %}
      </div>
    </div>
    {% csrf_token %}

    <div class="row">
      <div class="col s12 m12 l6 xl8">
        <div class="card">
          <div class="card-content">
          <span class="card-title">
            {% blocktrans %}Lesson documentation{% endblocktrans %}
          </span>

            {% if can_edit_lesson_documentation %}
              {% form form=lesson_documentation_form %}{% endform %}
            {% elif can_view_lesson_documentation %}
              <table>
                <tr>
                  <th>
                    {% trans "Lesson topic" %}
                  </th>
                  <td>
                    {{ lesson_documentation.topic }}
                  </td>
                </tr>
                <tr>
                  <th>
                    {% trans "Homework" %}
                  </th>
                  <td>
                    {{ lesson_documentation.homework }}
                  </td>
                </tr>
              </table>
            {% endif %}
          </div>
        </div>
      </div>

      {% if can_view_lesson_documentation %}
        <div class="col s12 m12 l6 xl4">
          <div class="card">
            <div class="card-content">
          <span class="card-title">
            {% blocktrans %}Change history{% endblocktrans %}
          </span>
              {% include 'core/partials/crud_events.html' with obj=lesson_documentation %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
      <span class="card-title">
        {% blocktrans %}Personal notes{% endblocktrans %}
      </span>
            {% form form=personal_note_formset.management_form %}{% endform %}

            <table class="striped responsive-table alsijil-table">
              <thead>
              <tr>
                <th>{% blocktrans %}Person{% endblocktrans %}</th>
                <th>{% blocktrans %}Absent{% endblocktrans %}</th>
                <th>{% blocktrans %}Tardiness{% endblocktrans %}</th>
                <th>{% blocktrans %}Excused{% endblocktrans %}</th>
                <th>{% blocktrans %}Remarks{% endblocktrans %}</th>
              </tr>
              </thead>
              <tbody>
              {% for form in personal_note_formset %}
                <tr>
                  {% if can_edit_personalnote %}

                    {{ form.id }}
                    <td>{{ form.person_name }}{{ form.person_name.value }}</td>
                    <td class="center-align">
                      <label>
                        {{ form.absent }}
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <div class="input-field">
                        {{ form.late }}
                        <label for="{{ form.absent.id_for_label }}">
                          {% trans "Tardiness (in m)" %}
                        </label>
                      </div>
                    </td>
                    <td class="center-align">
                      <label>
                        {{ form.excused }}
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <div class="input-field">
                        {{ form.remarks }}
                        <label for="{{ form.absent.id_for_label }}">
                          {% trans "Remarks" %}
                        </label>
                      </div>
                    </td>
                    </tr>
                  {% else %}
                    <tr>
                      <td>{{ form.person_name.value }}</td>
                      <td>{{ form.absent.value }}</td>
                      <td>{{ form.late.value }}</td>
                      <td>{{ form.excused.value }}</td>
                      <td>{{ form.remarks.value }}</td>
                    </tr>
                  {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {% if can_edit_lesson_documentation or can_edit_personalnote %}
          {% include "core/partials/save_button.html" %}
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
