{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load week_helpers material_form_internal %}
{% load material_form i18n static %}

{% block browser_title %}{% blocktrans %}Lesson{% endblocktrans %}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/alsijil/lesson.css' %}"/>
{% endblock %}

{% block page_title %}
  {{ day }}, {% blocktrans with period=lesson_period.period.period %}{{ period }}. period{% endblocktrans %} –

  {% for group in lesson_period.get_groups.all %}
    <span>{{ group.name }}</span>,
  {% endfor %}

  {{ lesson_period.get_subject.name }},

  {% for teacher in lesson_period.get_teachers.all %}
    {{ teacher.short_name }}
  {% endfor %}

  <span class="right">
    {% include "alsijil/partials/lesson_status_icon.html" with period=lesson_period css_class="medium" %}
  </span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      {% with prev_lesson=lesson_period.prev %}
        <a class="btn-flat left waves-effect waves-light"
           href="{% url "lesson_by_week_and_period" prev_lesson.week.year prev_lesson.week.week prev_lesson.id %}">
          <i class="material-icons left">arrow_back</i>
          {% trans "Previous lesson" %}
        </a>
      {% endwith %}

      {% with next_lesson=lesson_period.next %}
        <a class="btn-flat right waves-effect waves-light"
           href="{% url "lesson_by_week_and_period" next_lesson.week.year next_lesson.week.week next_lesson.id %}">
          <i class="material-icons right">arrow_forward</i>
          {% trans "Next lesson" %}
        </a>
      {% endwith %}
    </div>
  </div>

  <form method="post">
    <p>{% include "core/partials/save_button.html" %}</p>
    {% csrf_token %}

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab">
            <a href="#lesson-documentation">{% trans "Lesson documentation" %}</a>
          </li>
          <li class="tab">
            <a href="#personal-notes">{% trans "Personal notes" %}</a>
          </li>
          <li class="tab">
            <a href="#version-history">{% trans "Change history" %}</a>
          </li>
        </ul>
      </div>

      <div class="col s12" id="lesson-documentation">
        {% with prev_lesson=lesson_period.prev prev_doc=prev_lesson.get_lesson_documentation %}
          {% with prev_doc=prev_lesson.get_lesson_documentation absences=prev_lesson.get_absences tardinesses=prev_lesson.get_tardinesses extra_marks=prev_lesson.get_extra_marks %}
            {% if prev_doc %}
              {% weekday_to_date prev_lesson.week prev_lesson.period.weekday as prev_date %}

              <div class="card">
                <div class="card-content">
                  <span class="card-title">
                    {% blocktrans %}Overview: Previous lesson{% endblocktrans %} ({{ prev_date }},
                    {% blocktrans with period=prev_lesson.period.period %}{{ period }}. period{% endblocktrans %})
                  </span>

                  <table>
                    {% if prev_doc.topic %}
                      <tr>
                        <th class="collection-item">{% trans "Lesson topic of previous lesson:" %}</th>
                        <td>{{ prev_doc.topic }}</td>
                      </tr>
                    {% endif %}

                    {% if prev_doc.homework %}
                      <tr>
                        <th class="collection-item">{% trans "Homework for this lesson:" %}</th>
                        <td>{{ prev_doc.homework }}</td>
                      </tr>
                    {% endif %}

                    {% if prev_doc.group_note %}
                      <tr>
                        <th class="collection-item">{% trans "Group notes for previous lesson:" %}</th>
                        <td>{{ prev_doc.group_note }}</td>
                      </tr>
                    {% endif %}

                    {% if absences %}
                      <tr>
                        <th>{% trans "Absent persons:" %}</th>
                        <td>{% include "alsijil/partials/absences.html" with notes=absences %}</td>
                      </tr>
                    {% endif %}

                    {% if tardinesses %}
                      <tr>
                        <th>{% trans "Late persons:" %}</th>
                        <td>{% include "alsijil/partials/tardinesses.html" with notes=tardinesses %}</td>
                      </tr>
                    {% endif %}

                    {% for extra_mark, notes in extra_marks.items %}
                      <tr>
                        <th>{{ extra_mark.name }}</th>
                        <td>
                          {% for note in notes %}
                            <span>{{ note.person }}{% if not forloop.last %},{% endif %}</span>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}

                  </table>
                </div>
              </div>
            {% endif %}
          {% endwith %}
        {% endwith %}

        <div class="card">
          <div class="card-content">
          <span class="card-title">
            {% blocktrans %}Lesson documentation{% endblocktrans %}
          </span>

            {% form form=lesson_documentation_form %}{% endform %}
          </div>
        </div>
      </div>

      <div class="col s12" id="personal-notes">
        <div class="card">
          <div class="card-content">
      <span class="card-title">
        {% blocktrans %}Personal notes{% endblocktrans %}
      </span>
            {% form form=personal_note_formset.management_form %}{% endform %}

            <table class="striped responsive-table alsijil-table">
              <thead>
              <tr>
                <th>{% blocktrans %}Person{% endblocktrans %}</th>
                <th>{% blocktrans %}Absent{% endblocktrans %}</th>
                <th>{% blocktrans %}Tardiness{% endblocktrans %}</th>
                <th>{% blocktrans %}Excused{% endblocktrans %}</th>
                <th>{% blocktrans %}Excuse type{% endblocktrans %}</th>
                <th>{% blocktrans %}Extra marks{% endblocktrans %}</th>
                <th>{% blocktrans %}Remarks{% endblocktrans %}</th>
              </tr>
              </thead>
              <tbody>
              {% for form in personal_note_formset %}
                <tr>
                  {{ form.id }}
                  <td>{{ form.person_name }}{{ form.person_name.value }}</td>
                  <td class="center-align">
                    <label>
                      {{ form.absent }}
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <div class="input-field">
                      {{ form.late }}
                      <label for="{{ form.absent.id_for_label }}">
                        {% trans "Tardiness (in m)" %}
                      </label>
                    </div>
                  </td>
                  <td class="center-align">
                    <label>
                      {{ form.excused }}
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <div class="input-field">
                      {{ form.excuse_type }}
                      <label for="{{ form.excuse_type.id_for_label }}">
                        {% trans "Excuse type" %}
                      </label>
                    </div>
                  </td>
                  <td>
                    {% for group, items in form.extra_marks|select_options %}
                      {% for choice, value, selected in items %}
                        <label class="{% if selected %} active{% endif %} alsijil-check-box">
                          <input type="checkbox"
                                 {% if value == None or value == '' %}disabled{% else %}value="{{ value }}"{% endif %}
                                  {% if selected %} checked="checked"{% endif %}
                                 name="{{ form.extra_marks.html_name }}">
                          <span>{{ choice }}</span>
                        </label>
                      {% endfor %}
                    {% endfor %}
                  </td>
                  <td>
                    <div class="input-field">
                      {{ form.remarks }}
                      <label for="{{ form.absent.id_for_label }}">
                        {% trans "Remarks" %}
                      </label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s12" id="version-history">
        <div class="card">
          <div class="card-content">
          <span class="card-title">
            {% blocktrans %}Change history{% endblocktrans %}
          </span>
            {% include 'core/partials/crud_events.html' with obj=lesson_documentation %}
          </div>
        </div>
      </div>
    </div>

    <p>{% include "core/partials/save_button.html" %}</p>
  </form>
{% endblock %}
