{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load rules data_helpers week_helpers i18n material_form static django_tables2 %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/alsijil/person.css" %}">
  <script src="{% static "js/alsijil/person.js" %}" type="text/javascript"></script>
{% endblock %}

{% block browser_title %}{% blocktrans %}Class register: person{% endblocktrans %}{% endblock %}


{% block page_title %}
  {% has_perm "alsijil.view_my_students" user as has_students %}
  {% if has_students %}
    <a href="{% url "my_students" %}"
       class="btn-flat primary-color-text waves-light waves-effect">
      <i class="material-icons left">chevron_left</i> {% trans "Back" %}
    </a>
  {% endif %}
  {% blocktrans with person=person %}
    Class register overview for {{ person }}
  {% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">

  <!-- Tab Buttons -->
  <div class="col s12">
    <ul class="tabs">
      {% if register_object_table %}
        <li class="tab">
          <a href="#lesson-documentations">{% trans "Lesson documentations" %}</a>
        </li>
      {% endif %}
      <li class="tab">
        <a href="#personal-notes">{% trans "Personal notes" %}</a>
      </li>
      {% if stats %}
        <li class="tab"><a href="#statistics">{% trans "Statistics" %}</a></li>
      {% endif %}
    </ul>
  </div>

  <!-- Lesson Documentation Tab -->
  {% if register_object_table %}
    <div class="col s12" id="lesson-documentations">
      {% include "alsijil/partials/objects_table.html" with table=register_object_table filter_form=filter_form %}
    </div>
  {% endif %}

  <!-- Personal Note Tab -->
  <div class="col s12" id="personal-notes">
    {% has_perm "alsijil.edit_person_overview_personalnote" user person as can_mark_all_as_excused %}
    {% has_perm "alsijil.register_absence" user person as can_register_absence %}
    {% if can_register_absence %}
      <a class="btn primary-color waves-effect waves-light" href="{% url "register_absence" person.pk %}">
        <i class="material-icons left">rate_review</i>
        {% trans "Register absence" %}
      </a>
    {% endif %}

    <div class="col s12" id="overview">
      <h5>{% trans "Relevant personal notes" %}</h5>
      <form action="" method="post">
        {% csrf_token %}
        {% form form=action_form %}{% endform %}
        <button type="submit" class="btn waves-effect waves-light">Enter</button>
        {% render_table personal_notes_table %}
      </form>
    </div>
  </div>

  <!-- Statistics Tab -->
  {% if stats %}
    <div class="col s12" id="statistics">
      <h5>{% trans "Statistics on absences, tardiness and remarks" %}</h5>
      <ul class="collapsible">
        {% for school_term, stat in stats %}
          <li {% if forloop.first %}class="active"{% endif %}>
            <div class="collapsible-header">
              <i class="material-icons">date_range</i>{{ school_term }}</div>
            <div class="collapsible-body">
              <table>
                <tr>
                  <th colspan="2">{% trans 'Absences' %}</th>
                  <td>{{ stat.absences_count }}</td>
                </tr>
                <tr>
                  <td rowspan="{{ excuse_types.count|add:2 }}" class="hide-on-small-only">{% trans "thereof" %}</td>
                  <td rowspan="{{ excuse_types.count|add:2 }}" class="hide-on-med-and-up"></td>
                  <th class="truncate">{% trans 'Excused' %}</th>
                  <td>{{ stat.excused }}</td>
                </tr>
                {% for excuse_type in excuse_types %}
                  <th>{{ excuse_type.name }}</th>
                  <td>{{ stat|get_dict:excuse_type.count_label }}</td>
                {% endfor %}
                <tr>
                  <th>{% trans 'Unexcused' %}</th>
                  <td>{{ stat.unexcused }}</td>
                </tr>
                <tr>
                  <th colspan="2">{% trans 'Tardiness' %}</th>
                  <td>{{ stat.tardiness }}'/{{ stat.tardiness_count }} &times;</td>
                </tr>
                {% for extra_mark in extra_marks %}
                  <tr>
                    <th colspan="2">{{ extra_mark.name }}</th>
                    <td>{{ stat|get_dict:extra_mark.count_label }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
