{# -*- engine:django -*- #}

{% extends "core/base.html" %}
{% load bootstrap4 font_awesome i18n week_helpers %}

{% block bootstrap4_title %}{% blocktrans%}Current week{% endblocktrans %} — {{ block.super }}{% endblock %}

{% block page_title %}
  {% blocktrans %}Current week{% endblocktrans %}
{% endblock %}

{% block content %}
  <form method="get">
    <ul id="timetable_select_form">
      {{ select_form.as_ul }}
    </ul>
    <input type="submit" value="Select" />
  </form>

  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header bg-light text-dark">
          {% blocktrans %}Week{% endblocktrans %}
          {{ week }} ({{ week|week_start }} — {{ week|week_end }}),
          {{ group.name }}
        </div>
        <div class="card-body">
          {% regroup lesson_periods by period.weekday as periods_by_day %}
          {% for weekday, periods in periods_by_day.items %}
            <h3>{{ weekday }}</h3>
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
              <thead>
                <tr>
                  <th>{% blocktrans %}Period{% endblocktrans %}</th>
                  <th>{% blocktrans %}Subject{% endblocktrans %}</th>
                  <th>{% blocktrans %}Teachers{% endblocktrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% for period in periods %}
                  <tr class="
                    {% if period.has_documentation %}
                      table-success
                    {% else %}
                      table-warning
                    {% endif %}
                  ">
                    <td>{{ period.period.period }}</td>
                    <td>
                      <a href="{% url 'lesson_by_week_and_period' week period.id %}">
                        {{ period.lesson.subject.name }}
                      </a>
                    </td>
                    <td>{{ period.lesson.teacher_names }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-light text-dark">
          {% blocktrans %}Personal notes{% endblocktrans %}
        </div>
        {% for person in persons %}
          <div class="card-body">
            <h5 class="card-title">{{ person.full_name }}</h5>
            <p class="card-text">
              {% trans "Absent" %}: {{ person.absences }}
              ({{ person.unexcused }} {% trans "unexcused" %})
            </p>
            <p class="card-text">
              {% trans "Summed up tardiness" %}: {{ person.tardiness }}
            </p>
            {% for note in person.personal_notes %}
              {% if note.remarks %}
                <p class="card-text">
                  {{ note.remarks }}
                </p>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
