{# -*- engine:django -*- #}

{% extends "core/base.html" %}
{% load bootstrap4 i18n font_awesome %}
{% load render_table from django_tables2 %}

{% block bootstrap4_title %}{% blocktrans %}List of all personal note filters{% endblocktrans %} - {{ block.super }}{% endblock %}
{% block page_title %}{% blocktrans %}List of all personal note filters{% endblocktrans %}{% endblock %}

{% block content %}
 <div class="btn-group" role="group" aria-lable="Filter actions">
    <a href="{% url 'create_personal_note_filter' %}" class="btn btn-dark">
      {% fa 'plus' %}
    </a>
  </div>

  {% render_table personal_note_filters_table %}
{% endblock %}
