{# -*- engine:django -*- #}

{% extends "core/turnable.html" %}
{% load bootstrap4 font_awesome i18n week_helpers %}

{% block bootstrap4_title %}{% blocktrans%}Current week{% endblocktrans %} — {{ block.super }}{% endblock %}

{% block current_content %}
  <div class="d-flex justify-content-between">
    <form method="get">
      <ul id="timetable_select_form">
        {{ select_form.as_ul }}
      </ul>
      <button type="submit" class="btn btn-dark">
        {% blocktrans %}Select{% endblocktrans %}
      </button>
    </form>
    {% if group %}
      <a class="btn btn-dark" href="{% url 'full_register_group' group.id %}">
        {% fa 'print' %}
      </a>
    {% endif %}
  </div>

  {% if lesson_periods.count %}
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header bg-light text-dark">
            {% blocktrans %}Lessons{% endblocktrans %}
          </div>
          <div class="card-body">
            {% regroup lesson_periods by period.get_weekday_display as periods_by_day %}
            {% for weekday, periods in periods_by_day %}
              <h3>{{ weekday }}</h3>
              <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead>
                  <tr>
                    <th>{% blocktrans %}Period{% endblocktrans %}</th>
                    <th>{% blocktrans %}Subject{% endblocktrans %}</th>
                    <th>{% blocktrans %}Teachers{% endblocktrans %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for period in periods %}
                    <tr class="
                      {% if period.has_documentation %}
                        table-success
                      {% else %}
                        {% weekday_to_date week period.period.weekday as current_date %}
                        {% today as today %}
                        {% if current_date < today %}
                          table-danger
                        {% else %}
                          {% if period.get_substitution %}
                            table-warning
                            {% if period.get_substitution.cancelled %}
                              alsijil-lesson-cancelled
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    ">
                      <td>{{ period.period.period }}</td>
                      <td>
                        <a href="{% url 'lesson_by_week_and_period' week.year week.week period.id %}">
                          {{ period.get_subject.name }}
                        </a>
                      </td>
                      <td>{{ period.get_teacher_names }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header bg-light text-dark">
            {% blocktrans %}Personal notes{% endblocktrans %}
          </div>
          {% for person in persons %}
            <div class="card-body">
              <h5 class="card-title">{{ person.full_name }}</h5>
              <p class="card-text">
                {% trans "Absent" %}: {{ person.absences }}
                ({{ person.unexcused }} {% trans "unexcused" %})
              </p>
              <p class="card-text">
                {% trans "Summed up tardiness" %}: {{ person.tardiness }}
              </p>
              {% for note in person.personal_notes|only_week:week %}
                {% if note.remarks %}
                  <blockquote class="blockquote mb-0">
                    {{ note.remarks }}
                    <footer class="blockquote-footer">
                      {% weekday_to_date week note.lesson_period.period.weekday as note_date %}
                      {{ note_date }}, {{ note.lesson_period.lesson.subject.name }}
                    </footer>
                  </blockquote>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="card text-white bg-danger">
      <div class="card-header">
        {% blocktrans %}No group selected{% endblocktrans %}
      </div>
      <div class="card-body">
        <p>
          {% blocktrans %}
            There are no lessons for the selected group, teacher, room or time.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
