@page {
  size: A4;
}

body {
  font-family: Arial, Helvetica, san-serif;
  font-size: 10pt;
}

section.sheet.smallprint {
  font-size: 8pt;
}

section.sheet.bigprint {
  font-size: 12pt;
}

span.signature-line {
  display: inline-block;
  width: 10em;
  border-bottom: 1px solid;
}

#titlepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#titlepage h1 {
  text-align: center;
}

#titlepage img#school-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#titlepage p#group-desc {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

#titlepage p#printed-info {
  text-align: center;
}

#titlepage p#group-owners {
  font-size: 130%;
  text-align: center;
}

#titlepage p#signatures {
  padding-top: 2em;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.lessons-day-first {
  border-top: 2px solid;
}

th.lessons-day-head {
  transform: rotate(-90deg);
}

tr.lesson-cancelled td.subj {
  text-decoration: line-through;
}

tr.lesson-cancelled td {
  background-color: #dc3545;
}
tr.lesson-substituted td.lesson-subj {
  text-decoration: line-through;
}

tr.lesson-substituted td {
  background-color: #ffc107;
}

td.lesson-notes {
  font-size: 80%;
}

td.lesson-notes span.lesson-note-absent {
  color: #cc0000;
}

td.lesson-notes span.lesson-note-late {
  color: #ff9933;
}

td.lesson-notes span.lesson-note-excused {
  color: #009933;
}
